<!--
  AUTHOR: Tiffany Wong
-->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title><%= course.courseName %></title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/toastr/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/shadow.css">
    <link rel="stylesheet" type="text/css" href="/styles/dropdown.css">
    <link rel="stylesheet" type="text/css" href="/styles/dialog.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <link rel="stylesheet" type="text/css" href="/styles/course.css">
  </head>

  <body fullbleed fit>

    <div masthead layout-horizontal layout-center shadow elevation="1">

      <div name layout-horizontal layout-center layout-center-justified><strong><%= web.name %></strong></div>

      <a href="/" tab layout-horizontal layout-center>
        <div>Home</div>
        <div underline></div>
      </a>

      <div relative layout-vertical style="height: 100%">

        <div tab no-select dropdown-toggle-trigger="course-dropdown"
             flex layout-horizontal layout-center
             active>
          <div><%= course.courseName %></div>
          <div underline></div>
        </div>

        <div id="course-dropdown" dropdown align-left shadow elevation="2" layout-vertical>

          <%
          teacherCourses.forEach( function( course ) {
          %>
          <a href="/courses/<%= course._id %>/minilessons" item hoverable layout-horizontal layout-center>
            <div text><%= course.courseName %></div>
          </a>
          <%
          } );
          %>

          <%
          studentCourses.forEach( function( course ) {
          %>
          <a href="/courses/<%= course._id %>/minilessons" item hoverable layout-horizontal layout-center>
            <div text><%= course.courseName %></div>
          </a>
          <%
          } );
          %>

        </div>

      </div>

      <div flex></div>

      <div relative layout-vertical style="height: 100%">

        <div tab no-select dropdown-toggle-trigger="account-dropdown"
             flex layout-horizontal layout-center>
          <div><%= self.name %></div>
          <div underline></div>
        </div>

        <div id="account-dropdown" dropdown align-right shadow elevation="2" layout-vertical>

          <div item hoverable layout-horizontal layout-center>
            <div text>Pending Course Requests</div>
          </div>

          <a href="/logout" item hoverable layout-horizontal layout-center>
            <div text>Logout</div>
          </a>

        </div>

      </div>

    </div>

    <div content layout-vertical>
      <div flex layout-horizontal>

        <div minilesson-list shadow elevation="1" layout-vertical>

          <div header no-select layout-horizontal layout-center>
            <div title>Minilessons</div>
            <div flex></div>
            <div toolbar-button hoverable
                 dialog-open-trigger="minilesson-add-dialog"
                 layout-horizontal layout-center>
              Add
            </div>
          </div>

          <div content flex layout-vertical>

            <% minilessons.forEach( function( _minilesson ) { %>

            <a href="/courses/<%= course._id %>/minilessons/<%= _minilesson._id %>"
               minilesson-item
               layout-vertical>
              <div name><strong>The Foundations of Copyright Law</strong></div>

              <% if ( _minilesson.timestamps.due ) { %>
              <div due-date><%= _minilesson.timestamps.due %></div>
              <% } else { %>
              <div due-date>No due date.</div>
              <% } %>

            </a>

            <% } ); %>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item
               layout-vertical>
              <div name><strong>The Foundations of Copyright Law</strong></div>
              <div due-date>No due date</div>
            </a>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item
               layout-vertical>
              <div name><strong>Fairness and Personality Theories</strong></div>
              <div due-date>No due date</div>
            </a>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item
               layout-vertical>
              <div name><strong>The Subject Matter of Copyright</strong></div>
              <div due-date>No due date</div>
            </a>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item
               layout-vertical>
              <div name><strong>Welfare Theory</strong></div>
              <div due-date>No due date</div>
            </a>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item
               layout-vertical>
              <div name><strong>Authorship</strong></div>
              <div due-date>No due date</div>
            </a>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item active
               layout-vertical>
              <div name><strong>Supplements to Copyright: Secondary Liability and Paracopyright</strong></div>
              <div due-date>No due date</div>
            </a>

            <a href="/courses/<%= course._id %>/minilessons/:minilesson_id"
               minilesson-item
               layout-vertical>
              <div name><strong>Remedies</strong></div>
              <div due-date>No due date</div>
            </a>

          </div>

        </div>

        <div flex layout-vertical>
          <div pageContent layout-horizontal>

            <div contentPanel layout-vertical flex>
              <div progress-bar layout-horizontal layout-center-justified>
                <div progress-bar-cell pending flex></div>
                <div progress-bar-cell done flex></div>
                <div progress-bar-cell done flex></div>
                <div progress-bar-cell done flex></div>
                <div progress-bar-cell current flex></div>
                <div progress-bar-cell pending flex></div>
                <div progress-bar-cell done flex></div>
              </div>
              <div questionPanel flex>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div id="minilesson-add-dialog" dialog backdrop
         course-id="<%= course._id %>"
         dialog-close-trigger="minilesson-add-dialog"
         layout-horizontal layout-center-center>
      <div form shadow elevation="5" layout-vertical>

        <div header>Add Minilesson</div>

        <div inputs layout-vertical>

          <div input layout-vertical>
            <label>Minilesson Name</label>
            <input type="text" name-input/>
          </div>

        </div>

        <div buttons layout-horizontal layout-end-justified>
          <a button small dialog-close-trigger="minilesson-add-dialog">Cancel</a>
          <a button small blue create>Create</a>
        </div>

      </div>
    </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/toastr/toastr.min.js"></script>
    <script src="/flipper.js"></script>
    <script src="/global.js"></script>
    <script src="/controllers/dropdownController.js"></script>
    <script src="/controllers/dialogController.js"></script>
    <script src="/controllers/courseController.js"></script>

  </body>

</html>
