<!--
  AUTHOR: Tiffany Wong
-->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title><%= course.name %></title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/toastr/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/shadow.css">
    <link rel="stylesheet" type="text/css" href="/styles/dropdown.css">
    <link rel="stylesheet" type="text/css" href="/styles/dialog.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <link rel="stylesheet" type="text/css" href="/styles/course.css">
  </head>

  <body fullbleed fit>

    <div masthead layout-horizontal layout-center shadow elevation="1">

      <div name layout-horizontal layout-center layout-center-justified><strong><%= web.name %></strong></div>

      <div relative layout-vertical style="height: 100%">
        <a href="/" tab layout-horizontal layout-center>
          <div>Home</div>
        </a>
      </div>

      <div relative layout-vertical style="height: 100%">

        <div tab no-select dropdown-toggle-trigger="course-dropdown"
             flex layout-horizontal layout-center
             active>
          <div><%= course.name %></div>
        </div>

        <div id="course-dropdown" dropdown align-left shadow elevation="2" layout-vertical>

          <%
          teacherCourses.forEach( function( course ) {
          %>
          <a href="/courses/<%= course._id %>/minilessons" item hoverable layout-horizontal layout-center>
            <div text><%= course.name %></div>
          </a>
          <%
          } );
          %>

          <%
          studentCourses.forEach( function( course ) {
          %>
          <a href="/courses/<%= course._id %>/minilessons" item hoverable layout-horizontal layout-center>
            <div text><%= course.name %></div>
          </a>
          <%
          } );
          %>

        </div>

      </div>

      <div flex></div>

      <div relative layout-vertical style="height: 100%">

        <div tab no-select dropdown-toggle-trigger="account-dropdown"
             flex layout-horizontal layout-center>
          <div><%= self.name %></div>
        </div>

        <div id="account-dropdown" dropdown align-right shadow elevation="2" layout-vertical>

          <div item hoverable layout-horizontal layout-center>
            <div text>Pending Course Requests</div>
          </div>

          <a href="/logout" item hoverable layout-horizontal layout-center>
            <div text>Logout</div>
          </a>

        </div>

      </div>

    </div>

    <div content layout-vertical>
      <div flex layout-horizontal>

        <div minilesson-list shadow elevation="1" layout-vertical>

          <div header no-select layout-horizontal layout-center>

            <div title>Minilessons</div>
            <div flex></div>

            <% if ( course.teaching ) { %>
            <div toolbar-button hoverable
                 dialog-open-trigger="minilesson-add-dialog"
                 layout-horizontal layout-center>
              Add
            </div>
            <% } %>

          </div>

          <div content flex layout-vertical>
            <% minilessons.forEach( function( _minilesson ) { %>

            <a href="/courses/<%= course._id %>/minilessons/<%= _minilesson._id %>"
               minilesson-item no-select
              <%= minilesson._id && _minilesson._id.toString() === minilesson._id.toString() ? 'active' : '' %>
               layout-vertical>
              <div name><strong><%= _minilesson.title %></strong></div>

              <% if ( _minilesson.timestamps.due ) { %>
              <div due-date><%= _minilesson.timestamps.due %></div>
              <% } else { %>
              <div due-date>No due date.</div>
              <% } %>

            </a>

            <% } ); %>

          </div>

        </div>

        <% if ( minilesson._id ) { %>

        <div flex layout-vertical>

          <div page-list shadow elevation="1" layout-horizontal layout-end-justified>

            <% pages.forEach( function( _page, i ) { %>

            <a href="/courses/<%= course._id %>/minilessons/<%= minilesson._id %>/<%= _page._id %>"
               page-item no-select <%= page._id && _page._id.toString() === page._id.toString() ? 'active' : '' %>
               flex layout-horizontal layout-center-center>
               <%=_page.title%>
            </a>

            <% } ); %>

            <% if ( course.teaching ) { %>
            <div toolbar-button hoverable
                 dialog-open-trigger="page-add-dialog"
                 layout-horizontal layout-center>
              Add
            </div>
            <% } %>

          </div>

          <% if ( page._id ) { %>

          <% if ( course.teaching || page.resource ) { %>
          <div resource shadow elevation="1">

            <div header no-select layout-horizontal layout-center>

              <div title>Resource</div>
              <div flex></div>

              <% if ( course.teaching ) { %>
              <div toolbar-button hoverable
                   dialog-open-trigger="resource-set-dialog"
                   layout-horizontal layout-center>
                Set
              </div>
              <% } %>

            </div>

            <% if ( page.resource ) { %>
            <div content flex layout-horizontal layout-center-center><%= page.resource %></div>
            <% } else { %>
            <div content flex layout-horizontal layout-center-center>
              No resource is available for this page. This section will not show up for students.
            </div>
            <% } %>

          </div>
          <% } %>

          <div mcq-list shadow elevation="1" flex layout-vertical>

            <div header no-select layout-horizontal layout-center>

              <div title>Multiple Choice Questions</div>
              <div flex></div>

              <% if ( course.teaching ) { %>
              <div toolbar-button hoverable
                   dialog-open-trigger="mcq-add-dialog"
                   layout-horizontal layout-center>
                Add
              </div>
              <% } %>

            </div>

            <% var lookup = [ 'A', 'B', 'C', 'D', 'E' ]; %>

            <% if ( mcqs && mcqs.length ) { %>
            <div content layout-horizontal layout-around-justified layout-wrap>

              <% mcqs.forEach( function ( mcq ) { %>
              <div mcq-item flex layout-vertical data-mcq-id="<%= mcq._id %>">

                <div question><strong><%= mcq.question %></strong></div>

                <% mcq.answers.forEach( function ( answer, i ) { %>
                <div choice>
                  <input class="submit-radio-answer" type="radio" name="answer-options" value=<%=answer%>>
                  <%=answer %>
                </div>
                <% } ); %>

                <% if (course.teaching) { %>
                <a href="#" class="downloadGrades">Download Grades</a>
                <% } %>

              </div>
              <% } ); %>

            </div>
            <% } else { %>
            <div content flex layout-horizontal layout-center-center>
              There are no multiple choice questions for this page.
            </div>
            <% } %>

          </div>

          <% } else { %>

          <div shadow elevation="1" flex layout-horizontal layout-center-center>
            Please select a page.
          </div>

          <% } %>

        </div>

        <% } %>

      </div>
    </div>

    <div id="minilesson-add-dialog" dialog backdrop
         course-id="<%= course._id %>"
         dialog-close-trigger="minilesson-add-dialog"
         layout-horizontal layout-center-center>
      <div form shadow elevation="5" layout-vertical>

        <div header>Add Minilesson</div>

        <div inputs layout-vertical>

          <div input layout-vertical>
            <label>Minilesson Title</label>
            <input type="text" title-input/>
          </div>

        </div>

        <div buttons layout-horizontal layout-end-justified>
          <a button small dialog-close-trigger="minilesson-add-dialog">Cancel</a>
          <a button small blue create>Create</a>
        </div>

      </div>
    </div>

    <% if ( minilesson._id ) { %>

    <div id="page-add-dialog" dialog backdrop
         minilesson-id="<%= minilesson._id %>"
         dialog-close-trigger="page-add-dialog"
         layout-horizontal layout-center-center>
      <div form shadow elevation="5" layout-vertical>

        <div header>Add Page</div>

        <div inputs layout-vertical>

          <div input layout-vertical>
            <label>Page Title</label>
            <input type="text" title-input/>
          </div>

          <div input layout-vertical>
            <label>Resource Link (optional)</label>
            <input type="url" resource-input/>
          </div>

        </div>

        <div buttons layout-horizontal layout-end-justified>
          <a button small dialog-close-trigger="page-add-dialog">Cancel</a>
          <a button small blue create>Create</a>
        </div>

      </div>
    </div>

    <% } %>

    <% if ( page && page._id ) { %>

    <div id="mcq-add-dialog" dialog backdrop
         page-id="<%= page._id %>"
         dialog-close-trigger="mcq-add-dialog"
         layout-horizontal layout-center-center>
      <div form shadow elevation="5" layout-vertical>

        <div header>Add Multiple Choice Question</div>

        <div inputs layout-vertical>

          

          <div input flex layout-vertical>
            <label>Question</label>
            <input type="text" question-input/>
          </div>

          <div input flex layout-vertical>

            <div input layout-horizontal layout-center-center>
              <input class="create-radio-answer" type="radio" name="answer-options" value="choiceA">
              <input type="text" choiceA-input/>
            </div>

            <div input layout-horizontal layout-center-center>
              <input class="create-radio-answer" type="radio" name="answer-options" value="choiceB">
              <input type="text" choiceB-input/>
            </div>

            <div input layout-horizontal layout-center-center>
              <input class="create-radio-answer" type="radio" name="answer-options" value="choiceC">
              <input type="text" choiceC-input/>
            </div>

            <div input layout-horizontal layout-center-center>
              <input class="create-radio-answer" type="radio" name="answer-options" value="choiceD">
              <input type="text" choiceD-input/>
            </div>

            <div input layout-horizontal layout-center-center>
              <input class="create-radio-answer" type="radio" name="answer-options" value="choiceE">
              <input type="text" choiceE-input/>
            </div>

          </div>

          <div buttons layout-horizontal layout-end-justified>
            <a button small dialog-close-trigger="mcq-add-dialog">Cancel</a>
            <a button small blue create>Create</a>
          </div>

        </div>

        

      </div>
    </div>

    <% } %>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/toastr/toastr.min.js"></script>
    <script src="/flipper.js"></script>
    <script src="/global.js"></script>
    <script src="/controllers/dropdownController.js"></script>
    <script src="/controllers/dialogController.js"></script>
    <script src="/controllers/courseController.js"></script>
    <script src="/controllers/gradeController.js"></script>
  </body>

</html>
